.poster {
  width: 170px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  z-index: -10;
}

.btn-favorite {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -3rem;
  margin-top: 0.8rem;
  cursor: pointer;
}

.btn-fav-inactive {
  background-color: rgb(37, 37, 37);
}

.btn-fav-active{
  background-color: rgb(227, 37, 37);
}


.btn-icon {
  color: rgb(233, 231, 231);
  font-size: 1.2rem;
}


.btn-fav-active:hover .btn-icon{
  color: rgb(37, 37, 37);
  animation: rotateHeart 1.5s alternate infinite;
}

.btn-fav-inactive:hover .btn-icon{
  color: rgb(227, 37, 37);
}


@keyframes rotateHeart {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
  
}