.spinner{
    border: 6px solid rgba(243, 230, 230, 0.1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-left-color: rgb(241, 243, 244);
  
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
    
  }